@font-face {
  font-family: "PT Sans";

  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";

  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  display: flex;
  margin: 0 auto;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  background-color: rgba(242, 242, 242, 1);
  color: #000000;
}

.page-container {
  background-color: rgba(255, 255, 255, 1);
  margin: 0 auto;
  width: 1200px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

/*                         ГЛАВНАЯ СТРАНИЦА (INDEX)                                                   */

/*   HEADER    */

.main-navigation {
  display: flex;
  padding-left: 70px;
  padding-right: 70px;
}

.navigation-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: rgba(0, 0, 0, 1);
  text-decoration: none;
  text-align: center;
  padding: 20px 16px 20px 16px;
}

.navigation-list {
  list-style-type: none;
  display: flex;
  padding-inline-start:0;
  padding-left: 184px;
}

.navigation-user {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding-left: 270px;
}


.navigation-logo {
  position: absolute;
  width: 140px;
  height: 70px;
}

.navigation-link-search {
  background-image: url("../images/icons/search.svg");
  width: 44px;
  height: 64px;
  background-position: center;
  background-repeat: no-repeat;
  display:block;
  cursor:pointer;
}

.navigation-link-favourites {
  background-image: url("../images/icons/heart.svg");
  width: 44px;
  height: 64px;
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  text-decoration: none;
  padding-left: 22px;
  padding-top: 10px;
  cursor:pointer;
}

.number {
  border-radius: 50%;
  background-color: rgba(125, 181, 79, 1);
  font-size: 10px;
  font-weight: 400;
  line-height: 10px;
  color: rgba(255, 255, 255, 1);
  padding: 4px;
  text-align: right;
}

.navigation-link-button {
  width: 160px;
  height: 36px;
  background: rgba(117, 97, 87, 1);
  border-radius: 4px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  padding: 8px 34px;
  margin-bottom: 14px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  margin-left: 10px;
  display: block;
  margin-top: 14px;
  cursor:pointer;
}

.navigation-link-button:hover {
  background: rgba(97, 80, 72, 1);
}

.navigation-link-button:focus {
  background: rgba(97, 80, 72, 1);
}

.navigation-link-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.navigation-link-button:disabled {
  background: rgba(229, 229, 229, 1);
  color: rgba(255, 255, 255, 1);
}


.navigation-link-current {
  border-bottom: 2px solid rgba(117, 98, 87, 1);
}


/*    HERO    */

.hero {
  display: flex;
  justify-content: center;
  padding-top: 51px;
  padding-bottom: 82px;
  background-image: url("../images/hero-img/hero-background-element.svg"), url("../images/hero-img/hero-background.jpg");
  background-color: brown;
  background-repeat: no-repeat;
  background-size: 100% auto, 100% 100%;
  background-position: bottom center, center center;
}

/* INFORMATION BLOCK     */

.information-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 1);
}

.information-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: rgba(51, 51, 51, 1);
}

.information-block {
  padding-top: 69px;
  padding-bottom: 69px;
}

/*    ADVANTAGES    */

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  list-style-type: none;
  padding: 0;
}

.advantages-item {
  background-color: rgba(131, 179, 211, 0.2);
  color: #000000;
  width: calc(100% / 3);
  min-height: 385px;
  padding: 102px 85px 102px 85px;
}

.advantages-item.with-image {
  display: flex;
  width: 100%;
  background-color: rgba(130, 179, 211, 1);
  color: #FFFFFF;
  min-height: 385px;
  padding: 0;
}

.advantages-list li:nth-child(2) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-list li:nth-child(4) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantage-description {
  margin: 0 auto;
  padding-left: 85px;
  padding-right: 85px;
  padding-top: 102px;
}

.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

.advantages-title::after {
  content: "";
  display: block;
  width: 60px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  margin-left: 80px;
  margin-top: 30px;
}

.advantages-title-image::after {
  border-color: rgba(255, 255, 255, 0.3);
}

.advantages-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

/*   SERVICES   */

.services-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

.services-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: rgba(51, 51, 51, 1);
}

.services-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.services-list li:nth-child(even) {
  background-color: rgba(255, 255, 255, 1);
}

.services-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 400px;
  background-color: rgba(131, 179, 211, 0.12);
  padding-top: 81px;
  padding-bottom: 81px;
}

/*   HOTEL - SEARCH   */

.hotel-search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding-top: 96px;
  padding-bottom: 96px;

}

.hotel-search-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.hotel-search-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: rgba(51, 51, 51, 1);
}

.hotel-search-button {
  background: rgba(117, 97, 87, 1);
  border-radius: 4px;
  color: rgba(255, 255, 255, 1);
  display: table;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  margin: 0 auto;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  padding: 8px 50px;
  border-color: transparent;
  cursor:pointer;
}

.hotel-search-button:hover {
  background: rgba(97, 80, 72, 1);
}

.hotel-search-button:focus {
  background: rgba(97, 80, 72, 1);
}

.hotel-search-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.hotel-search-button:disabled {
  background: rgba(229, 229, 229, 1);
  color: rgba(255, 255, 255, 1);
}

/*  MAIL BLOCK  */

.mail {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../images/advantage/subscribe.jpg");
  background-color: blue;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 96px;
  padding-bottom: 104px;
}

.mail-form {
  display: flex;
}

.mail-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 1);
}

.mail-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: rgba(255, 255, 255, 1);
}

.mail-input {
  width: 452px;
  border-radius: 4px 0 0 4px;
  border-color: transparent;
  padding-left: 20px;
  padding-top: 14px;
  padding-bottom: 14px;
  background-color: rgba(242, 242, 242, 1);
}

.button-mail {
  background-color: rgba(130, 179, 211, 1);
  border-radius: 0 4px 4px 0;
  border-color: transparent;
  color: rgba(255, 255, 255, 1);
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  padding: 8px 50px 8px 50px;
  cursor:pointer;
}

.button-mail:hover {
  background: rgba(104, 162, 202, 1);
}

.button-mail:focus {
  background: rgba(104, 162, 202, 1);
}

.button-mail:active {
  color: rgba(255, 255, 255, 1);
}

.mail-catalog {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 96px;
  padding-bottom: 104px;
}

.mail-title-catalog {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 1);
}

.mail-text-catalog {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: rgba(51, 51, 51, 1);
}

/*     FOOTER     */

.page-footer {
  display: flex;
  justify-content: space-between;
  padding:45px 70px 30px 70px;
}

.footer-social-list {
  display: grid;
  list-style-type: none;
  grid-template-columns: 24px 24px 24px;
  gap: 10px;
  padding-inline-start: 0;

}

.contact-phone {
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  color: rgba(0, 0, 0, 1);
  text-decoration: none;
  text-transform: uppercase;
  cursor:pointer;
}

.social-list-vk {
  display: block;
  background-image: url("../images/icons/vk.svg");
  width:24px;
  height:14px;
  background-repeat: no-repeat;
  background-position: center;
  cursor:pointer;
}

.social-list-telegram {
  display: block;
  background-image: url("../images/icons/telegram.svg");
  width:18px;
  height:15px;
  background-repeat: no-repeat;
  background-position: center;
  cursor:pointer;
}

.social-list-youtube {
  display: block;
  background-image: url("../images/icons/youtube.svg");
  width:22px;
  height:17px;
  background-repeat: no-repeat;
  background-position: center;
  cursor:pointer;
}



/*                           КАТАЛОГ                                                 */

/*       FILTERS - BLOCK    */

.filter-content {
  background-image: url("../images/catalog-background.jpg");
  background-color: blue;
  background-repeat: no-repeat;
  background-size: cover;
  color: rgba(255, 255, 255, 1);
}

.filter-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  text-align: left;
  color: rgba(255, 255, 255, 1);
  padding-top:35px ;
  padding-left:70px;
  margin: 0;
}

.filters {
  display: grid;
  grid-template-columns: 150px 150px 9px 288px 191px;
  column-gap: 70px;
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 40px;
  padding-bottom: 70px;
}

.filter-header {
  display: flex;
  flex-direction: column;
}

.breadcrubs {
  list-style-type: none;
  display: flex;
  padding-left: 70px;
}

.bredcrubs-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  text-align: left;
}

.bredcrubs-house {
  display: block;
  background-image: url("../images/icons/bred-house.svg");
  width: 12px;
  height: 21px;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 24px;
  cursor:pointer;
}

.bredcrubs-house::after {
  content:url("../images/icons/bred-arrow.svg");
  display: block;
  width: 8px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center;
  padding-left: 20px;
}

.infrastructure-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  padding-bottom: 32px;
}

.infrastructure {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  border-color: transparent;
  padding: 0;
  margin: 0;
}

.infrastructure-item {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  padding-bottom: 16px;
}

/*  checkbox   */

.infrastructure-item {
  display: inline-flex;
  align-items: center;
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.custom-checkbox {
  display: inline-block;
  position: relative;
  width: 20px;
  height: 20px;
  border-radius:4px;
  background-color:rgba(255, 255, 255, 1);
  vertical-align: sub;
  margin-right: 16px;
}

.custom-checkbox:hover + label {
  opacity: 40%;
}

.custom-checkbox:hover {
  opacity: 40%;
}

.custom-checkbox:active + label {
  opacity: 40%;
}

.custom-checkbox:active {
  opacity: 40%;
}

.checkbox:focus + .custom-checkbox {
  border: 2px solid rgba(131, 179, 211, 1);
}

.custom-checkbox::before {
  content: "";
  width: 16px;
  height: 16px;
  background-image:url("../images/icons/checkbox.svg");
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%) scale(0);
  margin-top: 1px;
}

.checkbox:checked + .custom-checkbox::before {
  transform: translate(-50%, -50%) scale(1);
}

/* radiobutton */

.custom-radio {
  display: inline-block;
  position: relative;
  width: 20px;
  height: 20px;
  border-radius:50%;
  background-color:rgba(255, 255, 255, 1);
  vertical-align: sub;
  margin-right: 16px;
}

.custom-radio::before {
  content: "";
  width: 13px;
  height: 13px;
  background-image:url("../images/icons/radio.svg");
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%) scale(0);
}

.input-radio:checked + .custom-radio::before {
  transform: translate(-50%, -50%) scale(1);
}

.input-radio {
  opacity: 0;
  position: absolute;
}

.housetype {
  display: flex;
  flex-direction: column;
  border-color: transparent;
  padding: 0;
  margin: 0;
}

.housetype-list {
  list-style-type: none;
  padding: 0;
  margin: 0;

}

.housetype-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  padding-bottom: 32px;
}

.housetype-item {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  padding-bottom: 16px;
}

.minmax-price {
  display: flex;
  padding-bottom:48px;
}

.control-input-min {
  width: 143px;
  height: 48px;
  border-radius: 4px 0 0 4px;
  border-color: transparent;
  margin-right: 2px;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

.control-input-max {
  width: 143px;
  height: 48px;
  border-radius: 0 4px 4px 0;
  border-color: transparent;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

.price-text {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  padding-bottom: 32px;
}

.form-price {
  border-color: transparent;
  padding: 0;
  margin: 0;
}



.range-scale {
  position: relative;
  height: 4px;
  background-color: grey;
  border-radius: 4px;
  width: 288px;
}

.range-bar {
  position: absolute;
  width: 226px;
  height: 4px;
  background-color: white;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  background-color: #FFFFFF;
  border: 1px solid #FFFFFF;
}

.toggle-min {
  top: -8px;
  left: 0;
}

.toggle-max {
  top: -8px;
  right: 0;
}

.price-buttons {
  display:flex;
  flex-direction: column;
  border-color: transparent;
  padding: 0;
  margin-top: 54px;
}

.space {
  border-color: transparent;
}

.price-button-acept {
  color: rgba(255, 255, 255, 1);
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  background-color: rgba(130, 179, 211, 1);
  border-color: transparent;
  padding: 8px 40px 8px 40px;
  border-radius: 4px;
  margin-bottom: 40px;
  cursor:pointer;
}

.price-button-acept:hover {
  background: rgba(104, 162, 202, 1);
}

.price-button-acept:focus {
  background: rgba(104, 162, 202, 1);
}

.price-button-acept:active {
  color: rgba(255, 255, 255, 1);
}

.price-button-acept:disabled {
  background: rgba(229, 229, 229, 1);
  color: rgba(255, 255, 255, 1);
}

.price-button-reset {
  color: rgba(255, 255, 255, 1);
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  background-color: transparent;
  border-color: transparent;
  cursor:pointer;
  padding: 8px 50px 8px 50px
}

.price-button-reset:hover {
  color: rgba(255, 255, 255, 1);
  opacity: 30%;
}

.price-button-reset:focus {
  border: 3px solid rgba(131, 179, 211, 1);
}

.price-button-reset:active {
  color: rgba(255, 255, 255, 1);
}

.price-button-reset:disabled {
  background: rgba(229, 229, 229, 1);
  color: rgba(255, 255, 255, 1);
}

/*  SORTING  */

.sorting {
  display: flex;
  text-align: center;
  align-items: center;
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 50px;
  padding-bottom: 30px;
  justify-content: space-between;
}

.sorting-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.view {
  list-style-type: none;
  display: flex;
}

.vatiation-sorting {
  width: 292px;
  border-radius: 4px;
  margin-top: 4px;
  border: 2px solid rgba(229, 229, 229, 1);
  padding: 14px 20px 14px 20px;
}

.icon {
  width: 48px;
  height: 48px;
  padding: 12px 14px 12px 14px;
  border: 2px solid rgba(229, 229, 229, 1);
  border-radius: 4px;
  margin-left: 14px;
}

.icon-active {
  border: 2px solid black;
}

/*    HOTELS   */

.hotel-list {
  list-style-type: none;
}

/* HOTEL CARD */

.hotel-list {
  display: grid;
  grid-template-columns: 340px 340px 340px;
  padding-left: 70px;
  padding-right: 70px;
  list-style-type: none;
  gap: 20px;
}

.hotel-list-item {
  border: solid 1px;
  border-color: rgba(230, 230, 230, 1);
  padding: 20px;
  display: grid;
  grid-template-columns: 140px 140px;
  row-gap: 16px;
  column-gap: 20px;
}

.hotel-image {
  padding-bottom: 16px;
}

.hotel-cart-link {
  grid-column-start: 1;
  grid-column-end: 3;
  text-decoration: none;
  color: black;
}

.hotel-cart-text {
  grid-column-start: 1;
  grid-column-end: 2;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  color: rgba(51, 51, 51, 1);
}

.hotel-cart-price {
  grid-column-start: 2;
  grid-column-end: 3;
  text-align: right;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  color: rgba(51, 51, 51, 1);
}

.price-input-min {
  position: absolute;
  padding-left: 110px;
  padding-top: 10px;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: grey;

}

.price-input-max {
  position: absolute;
  padding-left: 110px;
  padding-top: 10px;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: grey;
}

.hotel-button-more {
  grid-column-start: 1;
  grid-column-end: 2;
  align-self: center;
  background: rgba(117, 97, 87, 1);
  border-radius: 3px;
  color: #ffffff;
  display: table;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  margin: 0 auto;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  padding-top: 8px;
  padding-bottom: 8px;
  border-color: transparent;
  width: 140px;
  cursor:pointer;
}

.hotel-button-favorites {
  color: rgba(255, 255, 255, 1);
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  display: table;
  text-transform: uppercase;
  text-align: center;
  background-color: rgba(130, 179, 211, 1);
  grid-column-start: 2;
  grid-column-end: 3;
  white-space: nowrap;
  background: rgba(130, 179, 211, 1);
  border-radius: 3px;
  margin: 0 auto;
  text-decoration: none;
  border-color: transparent;
  width: 140px;
  padding-top: 8px;
  padding-bottom: 8px;
  cursor:pointer;
}

.hotel-button-active {
  grid-column-start: 2;
  grid-column-end: 3;
  align-self: center;
  background: rgba(125, 181, 79, 1);
  border-radius: 3px;
  color: #ffffff;
  display: table;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  margin: 0 auto;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  width: 140px;
  border-color: transparent;
  padding-top: 8px;
  padding-bottom: 8px;
  cursor:pointer;
}

.hotel-cart-link {
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.hotel-cart-text {
  color: rgba(51, 51, 51, 1);
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.hotel-cart-price {
  color: rgba(51, 51, 51, 1);
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.hotel-stars {
  display: flex;
  grid-column-start: 1;
  grid-column-end: 2;
  margin: 0;
  padding-top: 10px;
}

.star {
  background-image: url("../images/icons/star.svg");
  background-position: center;
  width: 18px;
  height: 17px;
  margin-right: 6px;
}

.hotel-rating {
  grid-column-start: 2;
  grid-column-end: 3;
  background-color: rgba(242, 242, 242, 1);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: rgba(51, 51, 51, 1);
  text-transform: uppercase;
  text-align: center;
  white-space: nowrap;
  width: 140px;
  height: 37px;
  padding-top: 9px;
  border-color: transparent;
}


/* PAGINATION */

.pagination {
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 40px;
}
.pagination::before {
  content: "";
  display: block;
  width: 1060px;
  border-bottom: 1px solid rgba(230, 230, 230, 1);
}

.pagination-list {
  list-style-type: none;
  display: flex;
  padding-left: 0;
  padding-top: 40px;
}

.pagination-link-button {
  display: block;
  width: 60px;
  height: 60px;
  text-align: center;
  padding-top: 12px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
  background-color: rgba(130, 179, 211, 1);
  text-decoration: none;
  border-radius: 4px;
  margin-right: 8px;
  cursor:pointer;
}

.pagination-a {
  padding-left: 29px;
  font-size: 22px;
  padding-right: 29px;
  margin-top: 20px;
  line-height: 26px;
  font-weight: 400;
}

.pag-active {
  display: block;
  width: 60px;
  height: 60px;
  text-align: center;
  padding-top: 12px;
  line-height: 36px;
  font-weight: 700;
  color: rgba(0, 0, 0, 1);
  background-color: rgba(242, 242, 242, 1);
  text-decoration: none;
  border-radius: 4px;
}

/* модальное окно */

.modal-container {
  position: fixed;
  top: 396;
  right: 282;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
}

.modal {
  position: relative;
  margin: auto;
  padding: 40px;
  background-color: #ffffff;
}

.modal-search {
  width: 717px;
  border-radius: 30px;
  padding-left: 70px;
}

.modal-close-button {
  position: absolute;
  padding: 0;
  top: 64px;
  left: 613px;
  width: 52px;
  height: 52px;
  background-color: rgba(242, 242, 242, 1);
  border: none;
  border-radius: 50%;
  background-image: url("../images/icons/modal-close.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.modal-title {
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  padding-bottom: 64px;
}

.modal-list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

.modal-list label {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
}

.modal-input-date {
  width: 440px;
  height: 48px;
  border-radius: 4px;
  padding: 12px 20px 12px 20px;
  border-color: transparent;
  background-color: rgba(242, 242, 242, 1);
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  position: relative;
}

.modal-input-date::-webkit-calendar-picker-indicator {
  color: transparent;
  opacity: 40%;
  background: url("../images/icons/modal-date.svg") no-repeat center;
}

.date-start {
  padding-right: 24px;
}

.date-end {
  padding-right: 18px;
}

.modal-input-number {
  width: 31px;
  height: 48px;
  border-color: transparent;
  background-color: rgba(242, 242, 242, 1);
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
}

.parent-label {
  padding-right: 49px;

}

.children-label {
  padding-left: 108px;
  padding-right: 10px;
}

.modal-button {
  width: 577px;
  height: 60px;
  padding: 18px 77px 18px 77px;
  background-color: rgba(131, 179, 211, 1);
  border-radius: 10px;
  border-color: transparent;
  color: rgba(255, 255, 255, 1);
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin-top: 48px;
}

.modal-list input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.plus {
  background-image: url("../images/icons/plus.svg");
  background-repeat: no-repeat;
  border-color: transparent;
  background-position: center;
  width: 40px;
  height: 48px;
  background-color: rgba(242, 242, 242, 1);
  padding-left: 0;
  border-radius: 4px;

}

.minus {
  background-image: url("../images/icons/minus.svg");
  background-repeat: no-repeat;
  border-color: transparent;
  background-position: center;
  width: 40px;
  height: 48px;
  background-color: rgba(242, 242, 242, 1);
  padding-left: 0;
  border-radius: 4px;
}

.window {
  display: flex;
  align-items: center;
}

.tooltip {
  background-color: rgba(131, 179, 211, 1);
  width: 26px;
  height: 26px;
  border-radius: 50%;
  color: #ffffff;
  text-align: center;
  padding-top: 2px;
  margin-right: 26px;
}

.info {
  display: none;
}

.tooltip:hover .info {
  display: inline-block;
  position: absolute;
  width: 256px;
  text-align: left;
  border-radius: 10px;
  background-color: rgba(51, 51, 51, 1);
  color: white;
  padding: 18px;
  margin-top: 10px;
  margin-left: -120px;
  box-shadow: rgba(0, 0, 0, 0.3);
}

.tooltip:hover .triangle {
  position: absolute;
  content: "";
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid rgba(51, 51, 51, 1);
  margin-top: 5px;
  margin-left: 2px;
}

.date-error1 {
  display: inline-block;
  color: rgba(255, 87, 87, 1);
  padding-left: 162px;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  margin-bottom: 23px;
}

.date-error2 {
  display: inline-block;
  padding-left: 162px;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  margin-bottom: 23px;
}

.modal-container-close {
  display: none;
}
